@import "~bootstrap/scss/bootstrap";
@import "components/fonts";
@import "components/scaffolding";
@import "components/booking-step";
@import "components/booking-link";
@import "components/reserve-map";
@import "components/reserve-inf";
@import "components/reservation-order";
body {
    background-color: #f1f1f1;
    background-image: url("../images/reserve-bg.png");
    background-repeat: repeat;
}
.app {
    font-family: 'Noto Sans', sans-serif;
}

