.reserve-map {
    position: relative;
    background-color: #C5C6C6;
    &__place {
        cursor: pointer;
        position: absolute;
        z-index: 2;
        svg {
            width: 46px;
            height: 46px;
        }
        &:after {
            content: "";
            position: absolute;
            top:0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,255,102,0.6);;
        }
    }
}
