.reserve-inf {
    padding: 30px;
    background: #006672;
    border-radius: 15px;
    color: #fff;
    &__title {
        font-family: 'Metro', sans-serif;
        font-size: 26px;
        margin-bottom: 10px;
    }
    &__descr {
        font-size: 16px;
        margin-bottom: 25px;
    }
    &__selected {
        font-size: 26px;
        margin-bottom: 15px;
    }
    &__wrap {
        padding-left: 20px;
        flex:1;
    }
}
.reserve-inf-list {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid #007583;
    }
    &__label {
        opacity: 50%;
    }
    &__value {
        color: #fff;
        font-size: 16px;
        font-weight: 600;
    }
}
